<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xpay.facade.notify.entity.NotifyRecord">
    <sql id="table"> tbl_notify_record </sql>

    <!-- 用于返回的bean对象 -->
    <resultMap id="BaseResultMap" type="com.xpay.facade.notify.entity.NotifyRecord">
        <result column="ID" property="id" jdbcType="BIGINT"/>
        <result column="VERSION" property="version" jdbcType="SMALLINT"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="LAST_NOTIFY_TIME" property="lastNotifyTime" jdbcType="TIMESTAMP"/>
        <result column="MSG_TOPIC" property="msgTopic" jdbcType="VARCHAR"/>
        <result column="MSG_TAG" property="msgTag" jdbcType="VARCHAR"/>
        <result column="MSG_EVENT_TYPE" property="msgEventType" jdbcType="BIGINT"/>
        <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR"/>
        <result column="TRX_NO" property="trxNo" jdbcType="VARCHAR"/>
        <result column="SUB_TRX_NO" property="subTrxNo" jdbcType="VARCHAR"/>
        <result column="THIRD_TRX_NO" property="thirdTrxNo" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="SMALLINT"/>
        <result column="CONTENT" property="content" jdbcType="LONGVARCHAR"/>
        <result column="EXTRA_INFO" property="extraInfo" jdbcType="OTHER"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="Base_Column_List">
        ID,
		VERSION,
		CREATE_TIME,
		LAST_NOTIFY_TIME,
		MSG_TOPIC,
		MSG_TAG,
		MSG_EVENT_TYPE,
		MERCHANT_NO,
		TRX_NO,
		SUB_TRX_NO,
		THIRD_TRX_NO,
		STATUS,
		CONTENT,
		EXTRA_INFO
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xpay.facade.notify.entity.NotifyRecord">
        INSERT INTO
        <include refid="table"/>
        (
        VERSION,
        CREATE_TIME,
        LAST_NOTIFY_TIME,
        MSG_TOPIC,
        MSG_TAG,
        MSG_EVENT_TYPE,
        MERCHANT_NO,
        TRX_NO,
        SUB_TRX_NO,
        THIRD_TRX_NO,
        STATUS,
        CONTENT,
        EXTRA_INFO
        ) VALUES (
        0,
        #{createTime,jdbcType=TIMESTAMP},
        #{lastNotifyTime,jdbcType=TIMESTAMP},
        #{msgTopic,jdbcType=VARCHAR},
        #{msgTag,jdbcType=VARCHAR},
        #{msgEventType,jdbcType=BIGINT},
        #{merchantNo,jdbcType=VARCHAR},
        #{trxNo,jdbcType=VARCHAR},
        #{subTrxNo,jdbcType=VARCHAR},
        #{thirdTrxNo,jdbcType=VARCHAR},
        #{status,jdbcType=SMALLINT},
        #{content,jdbcType=LONGVARCHAR},
        #{extraInfo,jdbcType=OTHER}
        )
    </insert>

    <!-- 批量插入记录 -->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="list">
        INSERT INTO
        <include refid="table"/>
        (
        VERSION,
        CREATE_TIME,
        LAST_NOTIFY_TIME,
        MSG_TOPIC,
        MSG_TAG,
        MSG_EVENT_TYPE,
        MERCHANT_NO,
        TRX_NO,
        SUB_TRX_NO,
        THIRD_TRX_NO,
        STATUS,
        CONTENT,
        EXTRA_INFO
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            0,
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.lastNotifyTime,jdbcType=TIMESTAMP},
            #{item.msgTopic,jdbcType=VARCHAR},
            #{item.msgTag,jdbcType=VARCHAR},
            #{item.msgEventType,jdbcType=BIGINT},
            #{item.merchantNo,jdbcType=VARCHAR},
            #{item.trxNo,jdbcType=VARCHAR},
            #{item.subTrxNo,jdbcType=VARCHAR},
            #{item.thirdTrxNo,jdbcType=VARCHAR},
            #{item.status,jdbcType=SMALLINT},
            #{item.content,jdbcType=LONGVARCHAR},
            #{item.extraInfo,jdbcType=OTHER}
            )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.xpay.facade.notify.entity.NotifyRecord">
        UPDATE
        <include refid="table"/>
        <set>
            VERSION = #{version,jdbcType=SMALLINT} + 1,
            LAST_NOTIFY_TIME = #{lastNotifyTime,jdbcType=TIMESTAMP},
            MSG_TOPIC = #{msgTopic,jdbcType=VARCHAR},
            MSG_TAG = #{msgTag,jdbcType=VARCHAR},
            MSG_EVENT_TYPE = #{msgEventType,jdbcType=BIGINT},
            MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
            TRX_NO = #{trxNo,jdbcType=VARCHAR},
            SUB_TRX_NO = #{subTrxNo,jdbcType=VARCHAR},
            THIRD_TRX_NO = #{thirdTrxNo,jdbcType=VARCHAR},
            STATUS = #{status,jdbcType=SMALLINT},
            CONTENT = #{content,jdbcType=LONGVARCHAR},
            EXTRA_INFO = #{extraInfo,jdbcType=OTHER}
        </set>
        WHERE ID = #{id,jdbcType=BIGINT} and VERSION = #{version,jdbcType=SMALLINT}
    </update>

    <!-- 只更新不为null的属性 -->
    <update id="updateIfNotNull" parameterType="com.xpay.facade.notify.entity.NotifyRecord">
        UPDATE
        <include refid="table"/>
        <set>
            VERSION = #{version,jdbcType=SMALLINT} + 1,
            <if test="lastNotifyTime != null">
                LAST_NOTIFY_TIME = #{lastNotifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="msgTopic != null">
                MSG_TOPIC = #{msgTopic,jdbcType=VARCHAR},
            </if>
            <if test="msgTag != null">
                MSG_TAG = #{msgTag,jdbcType=VARCHAR},
            </if>
            <if test="msgEventType != null">
                MSG_EVENT_TYPE = #{msgEventType,jdbcType=BIGINT},
            </if>
            <if test="merchantNo != null">
                MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
            </if>
            <if test="trxNo != null">
                TRX_NO = #{trxNo,jdbcType=VARCHAR},
            </if>
            <if test="subTrxNo != null">
                SUB_TRX_NO = #{subTrxNo,jdbcType=VARCHAR},
            </if>
            <if test="thirdTrxNo != null">
                THIRD_TRX_NO = #{thirdTrxNo,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=SMALLINT},
            </if>
            <if test="content != null">
                CONTENT = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="extraInfo != null">
                EXTRA_INFO = #{extraInfo,jdbcType=OTHER}
            </if>
        </set>
        WHERE ID = #{id,jdbcType=BIGINT} and VERSION = #{version,jdbcType=SMALLINT}
    </update>

    <!-- 多条件组合查询 -->
    <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
        <choose>
            <when test="sortColumns != null and sortColumns !='' ">
                <![CDATA[ ORDER BY ${sortColumns} ]]>
            </when>
            <otherwise>
                <![CDATA[ ORDER BY ID DESC ]]>
            </otherwise>
        </choose>
    </select>

    <!-- 根据多条件组合查询，计算总记录数 -->
    <select id="countBy" parameterType="java.util.Map" resultType="long">
        SELECT count(ID) FROM
        <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>

    <!-- 按查询条件删除 -->
    <delete id="deleteBy">
        DELETE FROM
        <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </delete>

    <!-- 根据多个id查询 -->
    <select id="listByIdList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
    </select>

    <!-- 根据id查询 -->
    <select id="getById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE ID = #{id,jdbcType=BIGINT}
    </select>

    <!-- 按id主键删除 -->
    <delete id="deleteById">
        DELETE FROM
        <include refid="table"/>
        WHERE ID = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 按多个id主键删除 -->
    <delete id="deleteByIdList" parameterType="list">
        DELETE FROM
        <include refid="table"/>
        WHERE ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
    </delete>

    <!-- ↑↑↑↑↑↑ 如果有新增字段、删除字段、修改字段 以上内容可用模板生成新内容后直接替换 ↑↑↑↑↑↑ -->
    <!-- ↓↓↓↓↓↓ 以下内容是根据需求手动添加或修改的，请勿使用模板内容直接覆盖 ↓↓↓↓↓↓ -->

    <sql id="condition_sql">
        <if test="id != null ">
            AND ID = #{id,jdbcType=BIGINT}
        </if>
        <if test="idList != null and idList.size() > 0">
            AND ID IN
            <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
        </if>
        <if test="version != null ">
            AND VERSION = #{version,jdbcType=SMALLINT}
        </if>
        <if test="createTime != null ">
            AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="lastNotifyTime != null ">
            AND LAST_NOTIFY_TIME = #{lastNotifyTime,jdbcType=TIMESTAMP}
        </if>
        <if test="msgTopic != null and msgTopic !='' ">
            AND MSG_TOPIC = #{msgTopic,jdbcType=VARCHAR}
        </if>
        <if test="msgTag != null and msgTag !='' ">
            AND MSG_TAG = #{msgTag,jdbcType=VARCHAR}
        </if>
        <if test="msgEventType != null ">
            AND MSG_EVENT_TYPE = #{msgEventType,jdbcType=BIGINT}
        </if>
        <if test="merchantNo != null and merchantNo !='' ">
            AND MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR}
        </if>
        <if test="trxNo != null and trxNo !='' ">
            AND TRX_NO = #{trxNo,jdbcType=VARCHAR}
        </if>
        <if test="subTrxNo != null and subTrxNo !='' ">
            AND SUB_TRX_NO = #{subTrxNo,jdbcType=VARCHAR}
        </if>
        <if test="thirdTrxNo != null and thirdTrxNo !='' ">
            AND THIRD_TRX_NO = #{thirdTrxNo,jdbcType=VARCHAR}
        </if>
        <if test="status != null ">
            AND STATUS = #{status,jdbcType=SMALLINT}
        </if>
        <if test="content != null and content !='' ">
            AND CONTENT = #{content,jdbcType=LONGVARCHAR}
        </if>
        <if test="extraInfo != null ">
            AND EXTRA_INFO = #{extraInfo,jdbcType=OTHER}
        </if>
    </sql>
</mapper>

