<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xpay.facade.accounttransit.entity.AccountTransitProcessDetailHistory">
    <sql id="table"> tbl_account_transit_process_detail_history </sql>

    <!-- 用于返回的bean对象 -->
    <resultMap id="BaseResultMap" type="com.xpay.facade.accounttransit.entity.AccountTransitProcessDetailHistory">
        <result column="ID" property="id" jdbcType="BIGINT"/>
        <result column="VERSION" property="version" jdbcType="TINYINT"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR"/>
        <result column="MERCHANT_TYPE" property="merchantType" jdbcType="TINYINT"/>
        <result column="TRANSIT_AMOUNT" property="transitAmount" jdbcType="DECIMAL"/>
        <result column="ALTER_AMOUNT" property="alterAmount" jdbcType="DECIMAL"/>
        <result column="ALTER_TRANSIT_AMOUNT" property="alterTransitAmount" jdbcType="DECIMAL"/>
        <result column="ACCOUNT_PROCESS_NO" property="accountProcessNo" jdbcType="VARCHAR"/>
        <result column="TRX_NO" property="trxNo" jdbcType="VARCHAR"/>
        <result column="MCH_TRX_NO" property="mchTrxNo" jdbcType="VARCHAR"/>
        <result column="TRX_TIME" property="trxTime" jdbcType="TIMESTAMP"/>
        <result column="BIZ_TYPE" property="bizType" jdbcType="SMALLINT"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="PROCESS_TYPE" property="processType" jdbcType="TINYINT"/>
        <result column="EXTRA_INFO" property="extraInfo" jdbcType="OTHER"/>
        <result column="MIGRATE_TIME" property="migrateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="Base_Column_List">
        ID,
		VERSION,
		CREATE_TIME,
		MERCHANT_NO,
        MERCHANT_TYPE,
		TRANSIT_AMOUNT,
		ALTER_AMOUNT,
		ALTER_TRANSIT_AMOUNT,
		ACCOUNT_PROCESS_NO,
		TRX_NO,
		MCH_TRX_NO,
		TRX_TIME,
		BIZ_TYPE,
		REMARK,
		PROCESS_TYPE,
		EXTRA_INFO,
		MIGRATE_TIME
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xpay.facade.accounttransit.entity.AccountTransitProcessDetailHistory">
        INSERT INTO
        <include refid="table"/>
        (
        VERSION,
        MERCHANT_NO,
        MERCHANT_TYPE,
        TRANSIT_AMOUNT,
        ALTER_AMOUNT,
        ALTER_TRANSIT_AMOUNT,
        ACCOUNT_PROCESS_NO,
        TRX_NO,
        MCH_TRX_NO,
        TRX_TIME,
        BIZ_TYPE,
        REMARK,
        PROCESS_TYPE,
        EXTRA_INFO,
        MIGRATE_TIME
        ) VALUES (
        0,
        #{merchantNo,jdbcType=VARCHAR},
        #{merchantType,jdbcType=TINYINT},
        #{transitAmount,jdbcType=DECIMAL},
        #{alterAmount,jdbcType=DECIMAL},
        #{alterTransitAmount,jdbcType=DECIMAL},
        #{accountProcessNo,jdbcType=VARCHAR},
        #{trxNo,jdbcType=VARCHAR},
        #{mchTrxNo,jdbcType=VARCHAR},
        #{trxTime,jdbcType=TIMESTAMP},
        #{bizType,jdbcType=SMALLINT},
        #{remark,jdbcType=VARCHAR},
        #{processType,jdbcType=TINYINT},
        #{extraInfo,jdbcType=OTHER},
        #{migrateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <!-- 批量插入记录 -->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="list">
        INSERT INTO
        <include refid="table"/>
        (
        VERSION,
        MERCHANT_NO,
        MERCHANT_TYPE,
        TRANSIT_AMOUNT,
        ALTER_AMOUNT,
        ALTER_TRANSIT_AMOUNT,
        ACCOUNT_PROCESS_NO,
        TRX_NO,
        MCH_TRX_NO,
        TRX_TIME,
        BIZ_TYPE,
        REMARK,
        PROCESS_TYPE,
        EXTRA_INFO,
        MIGRATE_TIME
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            0,
            #{item.merchantNo,jdbcType=VARCHAR},
            #{item.merchantType,jdbcType=TINYINT},
            #{item.transitAmount,jdbcType=DECIMAL},
            #{item.alterAmount,jdbcType=DECIMAL},
            #{item.alterTransitAmount,jdbcType=DECIMAL},
            #{item.accountProcessNo,jdbcType=VARCHAR},
            #{item.trxNo,jdbcType=VARCHAR},
            #{item.mchTrxNo,jdbcType=VARCHAR},
            #{item.trxTime,jdbcType=TIMESTAMP},
            #{item.bizType,jdbcType=SMALLINT},
            #{item.remark,jdbcType=VARCHAR},
            #{item.processType,jdbcType=TINYINT},
            #{item.extraInfo,jdbcType=OTHER},
            #{item.migrateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.xpay.facade.accounttransit.entity.AccountTransitProcessDetailHistory">
        UPDATE
        <include refid="table"/>
        <set>
            VERSION = #{version,jdbcType=TINYINT} + 1,
            TRANSIT_AMOUNT = #{transitAmount,jdbcType=DECIMAL},
            ALTER_AMOUNT = #{alterAmount,jdbcType=DECIMAL},
            ALTER_TRANSIT_AMOUNT = #{alterTransitAmount,jdbcType=DECIMAL},
            ACCOUNT_PROCESS_NO = #{accountProcessNo,jdbcType=VARCHAR},
            TRX_NO = #{trxNo,jdbcType=VARCHAR},
            MCH_TRX_NO = #{mchTrxNo,jdbcType=VARCHAR},
            TRX_TIME = #{trxTime,jdbcType=TIMESTAMP},
            BIZ_TYPE = #{bizType,jdbcType=SMALLINT},
            REMARK = #{remark,jdbcType=VARCHAR},
            PROCESS_TYPE = #{processType,jdbcType=TINYINT},
            EXTRA_INFO = #{extraInfo,jdbcType=OTHER},
            MIGRATE_TIME = #{migrateTime,jdbcType=TIMESTAMP}
        </set>
        WHERE ID = #{id,jdbcType=BIGINT} and VERSION = #{version,jdbcType=TINYINT}
    </update>

    <!-- 只更新不为null的属性 -->
    <update id="updateIfNotNull" parameterType="com.xpay.facade.accounttransit.entity.AccountTransitProcessDetailHistory">
        UPDATE
        <include refid="table"/>
        <set>
            VERSION = #{version,jdbcType=TINYINT} + 1,
            <if test="transitAmount != null">
                TRANSIT_AMOUNT = #{transitAmount,jdbcType=DECIMAL},
            </if>
            <if test="alterAmount != null">
                ALTER_AMOUNT = #{alterAmount,jdbcType=DECIMAL},
            </if>
            <if test="alterTransitAmount != null">
                ALTER_TRANSIT_AMOUNT = #{alterTransitAmount,jdbcType=DECIMAL},
            </if>
            <if test="accountProcessNo != null">
                ACCOUNT_PROCESS_NO = #{accountProcessNo,jdbcType=VARCHAR},
            </if>
            <if test="trxNo != null">
                TRX_NO = #{trxNo,jdbcType=VARCHAR},
            </if>
            <if test="mchTrxNo != null">
                MCH_TRX_NO = #{mchTrxNo,jdbcType=VARCHAR},
            </if>
            <if test="trxTime != null">
                TRX_TIME = #{trxTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bizType != null">
                BIZ_TYPE = #{bizType,jdbcType=SMALLINT},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="processType != null">
                PROCESS_TYPE = #{processType,jdbcType=TINYINT},
            </if>
            <if test="extraInfo != null">
                EXTRA_INFO = #{extraInfo,jdbcType=OTHER},
            </if>
            <if test="migrateTime != null">
                MIGRATE_TIME = #{migrateTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        WHERE ID = #{id,jdbcType=BIGINT} and VERSION = #{version,jdbcType=TINYINT}
    </update>

    <!-- 多条件组合查询 -->
    <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
        <choose>
            <when test="sortColumns != null and sortColumns !='' ">
                <![CDATA[ ORDER BY ${sortColumns} ]]>
            </when>
            <otherwise>
                <![CDATA[ ORDER BY ID DESC ]]>
            </otherwise>
        </choose>
    </select>

    <!-- 根据多条件组合查询，计算总记录数 -->
    <select id="countBy" parameterType="java.util.Map" resultType="long">
        SELECT count(ID) FROM
        <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>

    <!-- 按查询条件删除 -->
    <delete id="deleteBy">
        DELETE FROM
        <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </delete>

    <!-- 根据多个id查询 -->
    <select id="listByIdList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
    </select>

    <!-- 根据id查询 -->
    <select id="getById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE ID = #{id,jdbcType=BIGINT}
    </select>

    <!-- 按id主键删除 -->
    <delete id="deleteById">
        DELETE FROM
        <include refid="table"/>
        WHERE ID = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 按多个id主键删除 -->
    <delete id="deleteByIdList" parameterType="list">
        DELETE FROM
        <include refid="table"/>
        WHERE ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
    </delete>

    <!-- ↑↑↑↑↑↑ 如果有新增字段、删除字段、修改字段 以上内容可用模板生成新内容后直接替换 ↑↑↑↑↑↑ -->
    <!-- ↓↓↓↓↓↓ 以下内容是根据需求手动添加或修改的，请勿使用模板内容直接覆盖 ↓↓↓↓↓↓ -->

    <sql id="condition_sql">
        <if test="id != null ">
            AND ID = #{id,jdbcType=BIGINT}
        </if>
        <if test="idList != null and idList.size() > 0">
            AND ID IN
            <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
        </if>
        <if test="createTimeBegin != null">
            AND CREATE_TIME >= #{createTimeBegin,jdbcType=TIMESTAMP}
        </if>
        <if test="createTimeEnd != null ">
            AND CREATE_TIME <![CDATA[<=]]> #{createTimeEnd,jdbcType=TIMESTAMP}
        </if>
        <if test="merchantNo != null and merchantNo !='' ">
            AND MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR}
        </if>
        <if test="merchantType != null">
            AND MERCHANT_TYPE = #{merchantType,jdbcType=TINYINT}
        </if>
        <if test="accountProcessNo != null and accountProcessNo !='' ">
            AND ACCOUNT_PROCESS_NO = #{accountProcessNo,jdbcType=VARCHAR}
        </if>
        <if test="trxNo != null and trxNo !='' ">
            AND TRX_NO = #{trxNo,jdbcType=VARCHAR}
        </if>
        <if test="mchTrxNo != null and mchTrxNo !='' ">
            AND MCH_TRX_NO = #{mchTrxNo,jdbcType=VARCHAR}
        </if>
        <if test="bizType != null ">
            AND BIZ_TYPE = #{bizType,jdbcType=SMALLINT}
        </if>
        <if test="processType != null ">
            AND PROCESS_TYPE = #{processType,jdbcType=TINYINT}
        </if>
        <if test="debitCommitStage != null ">
            AND DEBIT_COMMIT_STAGE = #{debitCommitStage,jdbcType=TINYINT}
        </if>
    </sql>

    <select id="listDetailDtoByMchNoAndTrxNo" parameterType="map" resultType="com.xpay.facade.accounttransit.dto.AccountTransitProcessDetailDto">
        SELECT MERCHANT_NO AS 'merchantNo',
        TRX_NO AS 'trxNo',
        PROCESS_TYPE AS 'processType',
        ALTER_AMOUNT AS 'alterAmount',
        ALTER_TRANSIT_AMOUNT AS 'alterTransitAmount'
        FROM
        <include refid="table"/>
        WHERE MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR} AND TRX_NO = #{trxNo,jdbcType=VARCHAR}
    </select>

</mapper>

