<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xpay.facade.accountmch.entity.AccountMch">
	<sql id="table"> tbl_account_mch </sql>

	<!-- 用于返回的bean对象 -->
	<resultMap id="BaseResultMap" type="com.xpay.facade.accountmch.entity.AccountMch">
		<result column="ID" property="id" jdbcType="BIGINT"/>
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="VERSION" property="version" jdbcType="BIGINT"/>
		<result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP"/>
		<result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR"/>
		<result column="MERCHANT_TYPE" property="merchantType" jdbcType="TINYINT"/>
		<result column="STATUS" property="status" jdbcType="TINYINT"/>
		<result column="UNSETTLE_AMOUNT" property="unsettleAmount" jdbcType="DECIMAL"/>
		<result column="USABLE_AMOUNT" property="usableAmount" jdbcType="DECIMAL"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		ID,
		CREATE_TIME,
		VERSION,
		MODIFY_TIME,
		MERCHANT_NO,
		MERCHANT_TYPE,
		STATUS,
		UNSETTLE_AMOUNT,
		USABLE_AMOUNT
	</sql>

	<!-- 插入记录 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xpay.facade.accountmch.entity.AccountMch">
		INSERT INTO <include refid="table" /> (
        	CREATE_TIME,
        	VERSION,
        	MODIFY_TIME,
        	MERCHANT_NO,
        	MERCHANT_TYPE,
        	STATUS,
        	UNSETTLE_AMOUNT,
        	USABLE_AMOUNT
        ) VALUES (
			#{createTime,jdbcType=TIMESTAMP},
			0,
			#{modifyTime,jdbcType=TIMESTAMP},
			#{merchantNo,jdbcType=VARCHAR},
			#{merchantType,jdbcType=TINYINT},
			#{status,jdbcType=TINYINT},
			#{unsettleAmount,jdbcType=DECIMAL},
			#{usableAmount,jdbcType=DECIMAL}
        )
	</insert>

	<!-- 批量插入记录 -->
	<insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="list">
		INSERT INTO <include refid="table" /> (
        	CREATE_TIME,
        	VERSION,
        	MODIFY_TIME,
        	MERCHANT_NO,
        	MERCHANT_TYPE,
        	STATUS,
        	UNSETTLE_AMOUNT,
        	USABLE_AMOUNT
        ) VALUES 
			<foreach collection="list" item="item" separator=",">
			(
			#{item.createTime,jdbcType=TIMESTAMP},
			0,
			#{item.modifyTime,jdbcType=TIMESTAMP},
			#{item.merchantNo,jdbcType=VARCHAR},
			#{item.merchantType,jdbcType=TINYINT},
			#{item.status,jdbcType=TINYINT},
			#{item.unsettleAmount,jdbcType=DECIMAL},
			#{item.usableAmount,jdbcType=DECIMAL}
			)
			</foreach>
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.xpay.facade.accountmch.entity.AccountMch">
        UPDATE <include refid="table" />
		<set>
			VERSION = #{version,jdbcType=BIGINT} + 1,
			MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			STATUS = #{status,jdbcType=TINYINT},
			UNSETTLE_AMOUNT = #{unsettleAmount,jdbcType=DECIMAL},
			USABLE_AMOUNT = #{usableAmount,jdbcType=DECIMAL}
		</set>
        WHERE ID = #{id,jdbcType=BIGINT} and VERSION = #{version,jdbcType=BIGINT}
	</update>

	<!-- 只更新不为null的属性 -->
	<update id="updateIfNotNull" parameterType="com.xpay.facade.accountmch.entity.AccountMch">
		UPDATE <include refid="table" />
		<set>
			VERSION = #{version,jdbcType=BIGINT} + 1,
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=TINYINT},
			</if>
			<if test="unsettleAmount != null">
				UNSETTLE_AMOUNT = #{unsettleAmount,jdbcType=DECIMAL},
			</if>
			<if test="usableAmount != null">
				USABLE_AMOUNT = #{usableAmount,jdbcType=DECIMAL}
			</if>
		</set>
		WHERE ID = #{id,jdbcType=BIGINT} and VERSION = #{version,jdbcType=BIGINT}
	</update>
	
	<!-- 多条件组合查询 -->
	<select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<choose>
			<when test="sortColumns != null and sortColumns !='' ">
				<![CDATA[ ORDER BY ${sortColumns} ]]>
			</when>
			<otherwise>
				<![CDATA[ ORDER BY ID DESC ]]>
			</otherwise>
		</choose>
	</select>
	
	<!-- 根据多条件组合查询，计算总记录数 -->
	<select id="countBy" parameterType="java.util.Map" resultType="long">
		SELECT count(ID) FROM
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<!-- 按查询条件删除 -->
	<delete id="deleteBy">
        DELETE FROM <include refid="table" /> 
		<where>
			<include refid="condition_sql" />
		</where>
    </delete>

	<!-- 根据多个id查询 -->
    <select id="listByIdList" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM <include refid="table" />
		WHERE ID IN 
		<foreach collection="list" item="item" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
	</select>

	<!-- 根据id查询 -->
    <select id="getById" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM <include refid="table" /> 
		WHERE ID = #{id,jdbcType=BIGINT}  
	</select>

	<!-- 按id主键删除 -->
	<delete id="deleteById">
        DELETE FROM <include refid="table" /> WHERE ID = #{id,jdbcType=BIGINT}
    </delete>

	<!-- 按多个id主键删除 -->
	<delete id="deleteByIdList" parameterType="list">
		DELETE FROM <include refid="table" />
		WHERE ID IN 
		<foreach collection="list" item="item" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
	</delete>

	<!-- ↑↑↑↑↑↑ 如果有新增字段、删除字段、修改字段 以上内容可用模板生成新内容后直接替换 ↑↑↑↑↑↑ -->
	<!-- ↓↓↓↓↓↓ 以下内容是根据需求手动添加或修改的，请勿使用模板内容直接覆盖 ↓↓↓↓↓↓ -->

	<sql id="condition_sql">
		<if test="id != null ">
			AND ID = #{id,jdbcType=BIGINT}
		</if>
		<if test="idList != null and idList.size() > 0">
			AND ID IN <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
		</if>
		<if test="createTime != null ">
			AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="version != null ">
			AND VERSION = #{version,jdbcType=BIGINT}
		</if>
		<if test="modifyTime != null ">
			AND MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		</if>
		<if test="merchantNo != null and merchantNo !='' ">
			AND MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR}
		</if>
		<if test="merchantType != null ">
			AND MERCHANT_TYPE = #{merchantType,jdbcType=TINYINT}
		</if>
		<if test="status != null ">
			AND STATUS = #{status,jdbcType=TINYINT}
		</if>
		<if test="unsettleAmount != null ">
			AND UNSETTLE_AMOUNT = #{unsettleAmount,jdbcType=DECIMAL}
		</if>
		<if test="usableAmount != null ">
			AND USABLE_AMOUNT = #{usableAmount,jdbcType=DECIMAL}
		</if>
	</sql>

	<select id="getByMerchantNo" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM
		<include refid="table"/>
		WHERE MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR}
	</select>

	<select id="listMerchantNoPage" parameterType="map" resultType="string">
		select MERCHANT_NO from <include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID desc]]>
		<if test="offset != null and pageSize != null">
			limit #{offset},#{pageSize}
		</if>
	</select>
</mapper>

