<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xpay.facade.merchant.entity.MerchantSecret">
    <sql id="table"> tbl_merchant_secret </sql>

    <!-- 用于返回的bean对象 -->
    <resultMap id="BaseResultMap" type="com.xpay.facade.merchant.entity.MerchantSecret">
        <result column="ID" property="id" jdbcType="BIGINT"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="VERSION" property="version" jdbcType="BIGINT"/>
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR"/>
        <result column="SIGN_TYPE" property="signType" jdbcType="TINYINT"/>
        <result column="PLATFORM_PUBLIC_KEY" property="platformPublicKey" jdbcType="VARCHAR"/>
        <result column="PLATFORM_PRIVATE_KEY" property="platformPrivateKey" jdbcType="VARCHAR"/>
        <result column="MERCHANT_PUBLIC_KEY" property="merchantPublicKey" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="Base_Column_List">
        ID,
		CREATE_TIME,
		VERSION,
		MODIFY_TIME,
		MERCHANT_NO,
		SIGN_TYPE,
		PLATFORM_PUBLIC_KEY,
		PLATFORM_PRIVATE_KEY,
		MERCHANT_PUBLIC_KEY
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xpay.facade.merchant.entity.MerchantSecret">
        INSERT INTO
        <include refid="table"/>
        (
        CREATE_TIME,
        VERSION,
        MODIFY_TIME,
        MERCHANT_NO,
        SIGN_TYPE,
        PLATFORM_PUBLIC_KEY,
        PLATFORM_PRIVATE_KEY,
        MERCHANT_PUBLIC_KEY
        ) VALUES (
        #{createTime,jdbcType=TIMESTAMP},
        0,
        #{modifyTime,jdbcType=TIMESTAMP},
        #{merchantNo,jdbcType=VARCHAR},
        #{signType,jdbcType=TINYINT},
        #{platformPublicKey,jdbcType=VARCHAR},
        #{platformPrivateKey,jdbcType=VARCHAR},
        #{merchantPublicKey,jdbcType=VARCHAR}
        )
    </insert>

    <!-- 批量插入记录 -->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="list">
        INSERT INTO
        <include refid="table"/>
        (
        CREATE_TIME,
        VERSION,
        MODIFY_TIME,
        MERCHANT_NO,
        SIGN_TYPE,
        PLATFORM_PUBLIC_KEY,
        PLATFORM_PRIVATE_KEY,
        MERCHANT_PUBLIC_KEY
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.createTime,jdbcType=TIMESTAMP},
            0,
            #{item.modifyTime,jdbcType=TIMESTAMP},
            #{item.merchantNo,jdbcType=VARCHAR},
            #{item.signType,jdbcType=TINYINT},
            #{item.platformPublicKey,jdbcType=VARCHAR},
            #{item.platformPrivateKey,jdbcType=VARCHAR},
            #{item.merchantPublicKey,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.xpay.facade.merchant.entity.MerchantSecret">
        UPDATE
        <include refid="table"/>
        <set>
            VERSION = #{version,jdbcType=BIGINT} + 1,
            MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
            SIGN_TYPE = #{signType,jdbcType=TINYINT},
            PLATFORM_PUBLIC_KEY = #{platformPublicKey,jdbcType=VARCHAR},
            PLATFORM_PRIVATE_KEY = #{platformPrivateKey,jdbcType=VARCHAR},
            MERCHANT_PUBLIC_KEY = #{merchantPublicKey,jdbcType=VARCHAR}
        </set>
        WHERE ID = #{id,jdbcType=BIGINT} and VERSION = #{version,jdbcType=BIGINT}
    </update>

    <!-- 只更新不为null的属性 -->
    <update id="updateIfNotNull" parameterType="com.xpay.facade.merchant.entity.MerchantSecret">
        UPDATE
        <include refid="table"/>
        <set>
            VERSION = #{version,jdbcType=BIGINT} + 1,
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="merchantNo != null">
                MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
            </if>
            <if test="signType != null">
                SIGN_TYPE = #{signType,jdbcType=TINYINT},
            </if>
            <if test="platformPublicKey != null">
                PLATFORM_PUBLIC_KEY = #{platformPublicKey,jdbcType=VARCHAR},
            </if>
            <if test="platformPrivateKey != null">
                PLATFORM_PRIVATE_KEY = #{platformPrivateKey,jdbcType=VARCHAR},
            </if>
            <if test="merchantPublicKey != null">
                MERCHANT_PUBLIC_KEY = #{merchantPublicKey,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE ID = #{id,jdbcType=BIGINT} and VERSION = #{version,jdbcType=BIGINT}
    </update>

    <!-- 多条件组合查询 -->
    <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
        <choose>
            <when test="sortColumns != null and sortColumns !='' ">
                <![CDATA[ ORDER BY ${sortColumns} ]]>
            </when>
            <otherwise>
                <![CDATA[ ORDER BY ID DESC ]]>
            </otherwise>
        </choose>
    </select>

    <!-- 根据多条件组合查询，计算总记录数 -->
    <select id="countBy" parameterType="java.util.Map" resultType="long">
        SELECT count(ID) FROM
        <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>

    <!-- 按查询条件删除 -->
    <delete id="deleteBy">
        DELETE FROM
        <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </delete>

    <!-- 根据多个id查询 -->
    <select id="listByIdList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
    </select>

    <!-- 根据id查询 -->
    <select id="getById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE ID = #{id,jdbcType=BIGINT}
    </select>

    <!-- 按id主键删除 -->
    <delete id="deleteById">
        DELETE FROM
        <include refid="table"/>
        WHERE ID = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 按多个id主键删除 -->
    <delete id="deleteByIdList" parameterType="list">
        DELETE FROM
        <include refid="table"/>
        WHERE ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
    </delete>

    <!-- ↑↑↑↑↑↑ 如果有新增字段、删除字段、修改字段 以上内容可用模板生成新内容后直接替换 ↑↑↑↑↑↑ -->
    <!-- ↓↓↓↓↓↓ 以下内容是根据需求手动添加或修改的，请勿使用模板内容直接覆盖 ↓↓↓↓↓↓ -->

    <sql id="condition_sql">
        <if test="id != null ">
            AND ID = #{id,jdbcType=BIGINT}
        </if>
        <if test="idList != null and idList.size() > 0">
            AND ID IN
            <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
        </if>
        <if test="merchantNo != null and merchantNo !='' ">
            AND MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR}
        </if>
        <if test="signType != null ">
            AND SIGN_TYPE = #{signType,jdbcType=TINYINT}
        </if>
        <if test="platformPublicKey != null and platformPublicKey !='' ">
            AND PLATFORM_PUBLIC_KEY = #{platformPublicKey,jdbcType=VARCHAR}
        </if>
        <if test="platformPrivateKey != null and platformPrivateKey !='' ">
            AND PLATFORM_PRIVATE_KEY = #{platformPrivateKey,jdbcType=VARCHAR}
        </if>
        <if test="merchantPublicKey != null and merchantPublicKey !='' ">
            AND MERCHANT_PUBLIC_KEY = #{merchantPublicKey,jdbcType=VARCHAR}
        </if>
    </sql>

    <select id="getByMerchantNo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR}
    </select>

</mapper>

