<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xpay.facade.config.entity.ErrorCodeChannel">
	<sql id="table"> tbl_error_code_channel </sql>

	<!-- 用于返回的bean对象 -->
	<resultMap id="BaseResultMap" type="com.xpay.facade.config.entity.ErrorCodeChannel">
		<result column="ID" property="id" jdbcType="BIGINT"/>
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="VERSION" property="version" jdbcType="INTEGER"/>
		<result column="CHANNEL_NO" property="channelNo" jdbcType="VARCHAR"/>
		<result column="CHANNEL_RESPONSE" property="channelResponse" jdbcType="VARCHAR"/>
		<result column="CHANNEL_RESPONSE_DESC" property="channelResponseDesc" jdbcType="VARCHAR"/>
		<result column="SYS_ERROR_CODE" property="sysErrorCode" jdbcType="VARCHAR"/>
		<result column="SYS_ERROR_DESC" property="sysErrorDesc" jdbcType="VARCHAR"/>
		<result column="SOLVE_WAY" property="solveWay" jdbcType="SMALLINT"/>
		<result column="BIZ_TYPE" property="bizType" jdbcType="SMALLINT"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		ID,
		CREATE_TIME,
		VERSION,
		CHANNEL_NO,
		CHANNEL_RESPONSE,
		CHANNEL_RESPONSE_DESC,
		SYS_ERROR_CODE,
		SYS_ERROR_DESC,
		SOLVE_WAY,
		BIZ_TYPE
	</sql>

	<!-- 插入记录 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xpay.facade.config.entity.ErrorCodeChannel">
		INSERT INTO <include refid="table" /> (
        	CREATE_TIME,
        	VERSION,
        	CHANNEL_NO,
        	CHANNEL_RESPONSE,
        	CHANNEL_RESPONSE_DESC,
        	SYS_ERROR_CODE,
        	SYS_ERROR_DESC,
        	SOLVE_WAY,
        	BIZ_TYPE
        ) VALUES (
			#{createTime,jdbcType=TIMESTAMP},
			0,
			#{channelNo,jdbcType=VARCHAR},
			#{channelResponse,jdbcType=VARCHAR},
			#{channelResponseDesc,jdbcType=VARCHAR},
			#{sysErrorCode,jdbcType=VARCHAR},
			#{sysErrorDesc,jdbcType=VARCHAR},
			#{solveWay,jdbcType=SMALLINT},
			#{bizType,jdbcType=SMALLINT}
        )
	</insert>

	<!-- 批量插入记录 -->
	<insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="list">
		INSERT INTO <include refid="table" /> (
        	CREATE_TIME,
        	VERSION,
        	CHANNEL_NO,
        	CHANNEL_RESPONSE,
        	CHANNEL_RESPONSE_DESC,
        	SYS_ERROR_CODE,
        	SYS_ERROR_DESC,
        	SOLVE_WAY,
        	BIZ_TYPE
        ) VALUES 
			<foreach collection="list" item="item" separator=",">
			(
			#{item.createTime,jdbcType=TIMESTAMP},
			0,
			#{item.channelNo,jdbcType=VARCHAR},
			#{item.channelResponse,jdbcType=VARCHAR},
			#{item.channelResponseDesc,jdbcType=VARCHAR},
			#{item.sysErrorCode,jdbcType=VARCHAR},
			#{item.sysErrorDesc,jdbcType=VARCHAR},
			#{item.solveWay,jdbcType=SMALLINT},
			#{item.bizType,jdbcType=SMALLINT}
			)
			</foreach>
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.xpay.facade.config.entity.ErrorCodeChannel">
        UPDATE <include refid="table" />
		<set>
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			VERSION = #{version,jdbcType=INTEGER} + 1,
			CHANNEL_NO = #{channelNo,jdbcType=VARCHAR},
			CHANNEL_RESPONSE = #{channelResponse,jdbcType=VARCHAR},
			CHANNEL_RESPONSE_DESC = #{channelResponseDesc,jdbcType=VARCHAR},
			SYS_ERROR_CODE = #{sysErrorCode,jdbcType=VARCHAR},
			SYS_ERROR_DESC = #{sysErrorDesc,jdbcType=VARCHAR},
			SOLVE_WAY = #{solveWay,jdbcType=SMALLINT},
			BIZ_TYPE = #{bizType,jdbcType=SMALLINT}
		</set>
        WHERE ID = #{id,jdbcType=BIGINT} and VERSION = #{version,jdbcType=INTEGER}
	</update>

	<!-- 只更新不为null的属性 -->
	<update id="updateIfNotNull" parameterType="com.xpay.facade.config.entity.ErrorCodeChannel">
		UPDATE <include refid="table" />
		<set>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			VERSION = #{version,jdbcType=INTEGER} + 1,
			<if test="channelNo != null">
				CHANNEL_NO = #{channelNo,jdbcType=VARCHAR},
			</if>
			<if test="channelResponse != null">
				CHANNEL_RESPONSE = #{channelResponse,jdbcType=VARCHAR},
			</if>
			<if test="channelResponseDesc != null">
				CHANNEL_RESPONSE_DESC = #{channelResponseDesc,jdbcType=VARCHAR},
			</if>
			<if test="sysErrorCode != null">
				SYS_ERROR_CODE = #{sysErrorCode,jdbcType=VARCHAR},
			</if>
			<if test="sysErrorDesc != null">
				SYS_ERROR_DESC = #{sysErrorDesc,jdbcType=VARCHAR},
			</if>
			<if test="solveWay != null">
				SOLVE_WAY = #{solveWay,jdbcType=SMALLINT},
			</if>
			<if test="bizType != null">
				BIZ_TYPE = #{bizType,jdbcType=SMALLINT}
			</if>
		</set>
		WHERE ID = #{id,jdbcType=BIGINT} and VERSION = #{version,jdbcType=INTEGER}
	</update>
	
	<!-- 多条件组合查询 -->
	<select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<choose>
			<when test="sortColumns != null and sortColumns !='' ">
				<![CDATA[ ORDER BY ${sortColumns} ]]>
			</when>
			<otherwise>
				<![CDATA[ ORDER BY ID DESC ]]>
			</otherwise>
		</choose>
	</select>
	
	<!-- 根据多条件组合查询，计算总记录数 -->
	<select id="countBy" parameterType="java.util.Map" resultType="long">
		SELECT count(ID) FROM
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<!-- 按查询条件删除 -->
	<delete id="deleteBy">
        DELETE FROM <include refid="table" /> 
		<where>
			<include refid="condition_sql" />
		</where>
    </delete>

	<!-- 根据多个id查询 -->
    <select id="listByIdList" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM <include refid="table" />
		WHERE ID IN 
		<foreach collection="list" item="item" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
	</select>

	<!-- 根据id查询 -->
    <select id="getById" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM <include refid="table" /> 
		WHERE ID = #{id,jdbcType=BIGINT}  
	</select>

	<!-- 按id主键删除 -->
	<delete id="deleteById">
        DELETE FROM <include refid="table" /> WHERE ID = #{id,jdbcType=BIGINT}
    </delete>

	<!-- 按多个id主键删除 -->
	<delete id="deleteByIdList" parameterType="list">
		DELETE FROM <include refid="table" />
		WHERE ID IN 
		<foreach collection="list" item="item" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
	</delete>

	<!-- ↑↑↑↑↑↑ 如果有新增字段、删除字段、修改字段 以上内容可用模板生成新内容后直接替换 ↑↑↑↑↑↑ -->
	<!-- ↓↓↓↓↓↓ 以下内容是根据需求手动添加或修改的，请勿使用模板内容直接覆盖 ↓↓↓↓↓↓ -->

	<sql id="condition_sql">
		<if test="id != null ">
			AND ID = #{id,jdbcType=BIGINT}
		</if>
		<if test="idList != null and idList.size() > 0">
			AND ID IN <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
		</if>
		<if test="createTime != null ">
			AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="version != null ">
			AND VERSION = #{version,jdbcType=INTEGER}
		</if>
		<if test="channelNo != null and channelNo !='' ">
			AND CHANNEL_NO = #{channelNo,jdbcType=VARCHAR}
		</if>
		<if test="channelResponse != null and channelResponse !='' ">
			AND CHANNEL_RESPONSE = #{channelResponse,jdbcType=VARCHAR}
		</if>
		<if test="channelResponseDesc != null and channelResponseDesc !='' ">
			AND CHANNEL_RESPONSE_DESC = #{channelResponseDesc,jdbcType=VARCHAR}
		</if>
		<if test="sysErrorCode != null and sysErrorCode !='' ">
			AND SYS_ERROR_CODE = #{sysErrorCode,jdbcType=VARCHAR}
		</if>
		<if test="sysErrorDesc != null and sysErrorDesc !='' ">
			AND SYS_ERROR_DESC = #{sysErrorDesc,jdbcType=VARCHAR}
		</if>
		<if test="solveWay != null ">
			AND SOLVE_WAY = #{solveWay,jdbcType=SMALLINT}
		</if>
		<if test="bizType != null ">
			AND BIZ_TYPE = #{bizType,jdbcType=SMALLINT}
		</if>
	</sql>
</mapper>

